body {
    background-color: #ff2211;
}




h1 {
    top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 35%;
}




.card {
    width: 100%;
    height: auto;
    background-color: #ca44fa;
    grid-row: span 1;
    grid-column: span 1;
}






#reset {
    position: absolute;
    margin-top: auto;
    margin-bottom: 10%;
    top: 8%;
    left: 49%;
    padding: .25vw .5vw;
}


#guideParagraph {
    width: 40%;
    padding: 4%;
    border-style: solid;
    border-color: #ff8866;
    background-color: #ca44fa;
}




#guessParagraph {
    width: 40%;
    padding: 4%;
    border-style: solid;
    border-color: #ff8866;
    float: right;
    background-color: #ca44fa;
}




#leftPanel {
    position: absolute;
    top: 11%;
    width: 20%;
   
}






#rightPanel{
    position: absolute;
    top: 12.5%;
    right: 1%;
    width: 20%;
}




#cards {
    display: grid;
    background-color: #ff8866;
    border-style: solid;
    border-color: #ba2256;
    border-radius: 2%;
    margin: 3% 25%;
    width: 50vw;
    height: 50vw;
    gap: 1%;
    padding: .5%;
    grid-template-columns: repeat(4, 24.2%);
    grid-template-rows:repeat(4, 24.2%);
}
